h1 {
  text-align: center;
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;}
}

.flippedtiles {
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;
  display:inline-block;
  width: 20%;
  color: "green";
}

.timer {
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;
  display: inline-block;
  width: 20%;
}


#memory_board {
  background: #7FDBFF;
  border: #999 10px solid;
  border-radius: 10px;
  width: 1090px;
  height: 570px;
  padding: 24px;
  margin:0px auto;
}

#memory_board > div{
  background: #001f3f;
  border-radius: 10px;
  border: #000 1px solid;
  width: 71px;
  height: 71px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 71px;
  font-size: 14px;
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;}

.card:hover {
  box-shadow: 7px 7px 5px #888;
  	}

img {
  height: 110%;
  width: 110%;
}
