body {
  background-color: lemonchiffon;
}

h1 {
  text-align: center;
  font-family: gotham,"Helvetica Neue",Helvetica,Roboto,sans-serif}
}

#flippedtiles {
  text-align: center;
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;
  color: "green";
}

#memory_board {
  width: 1000px;
  height: 550px;
  margin:0px auto;
}

.card{
  background: #AAAAAA;
  border-radius: 10px;
  border: #AAAAAA 2px solid;
  width: 71px;
  height: 71px;
  float: left;
  margin: 3px;
  padding: 20px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 71px;
  font-size: 14px;
  font-family: avenir,'avenir next',helvetica,arial,sans-serif;}

.card:hover {
  box-shadow: 5px 5px 3px #888;
  background: #DDDDDD;
  border: #FF851B 2px solid;
  	}

img {
  height: 110%;
  width: 110%;
}
